* {
	margin: 0;
	padding: 0;
}

:root {
	--dark-theme-color: #f2ffff;
	--dark-theme-background-color: #212124;
	--light-theme-color: #0a0a0a;
	--light-theme-background-color: #f2ffff;
}

body {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	font-family: monospace;
	font-weight: bolder;
	color: var(--dark-theme-color);
	background-color: var(--dark-theme-background-color);
	background-size: cover;
	width: 100%;
	height: max-content;
}

body::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75));
	backdrop-filter: blur(10px);
}

button {
	color: var(--dark-theme-color);
	background-color: transparent;
	border: 1px double var(--dark-theme-color);
	padding: 2.5px 10px;
	margin: 15px 0 0 0;
	cursor: pointer;
	transition: 1s;
}

button:hover {
	color: var(--light-theme-color);
	background-color: var(--light-theme-background-color);
	border: 1px double var(--light-theme-color);
	transition: 1s;
}

a {
	color: #c1dfdf;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr {
	width: 100%;
	margin: 25px 0;
}

.content {
	display: flex;
	justify-items: center;
	align-items: center;
	flex-direction: column;
	border: 2px solid var(--dark-theme-color);
	border-radius: 2px;
	margin: 25px 0px;
	padding: 20px;
	width: max-content;
	opacity: 0;
	transition: 5s;
	animation: fadeInImage 5s ease-in forwards;
  	animation-delay: 1.5s; /* буду надеяться что у всех за секунду примерно успеется словиться картинка */
}

@keyframes fadeInImage {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
}

.content:empty {
	display: none;
}

#passed_time {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	border-radius: 2px;
}

.commit_block {
	width: 100%;
}

.commit-info {
	width: 100%;
}

.admin-block {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
}

.status {
	z-index: 1;
}

@media (prefers-color-scheme: light) {
	body {
		color: var(--light-theme-color);
		background-color: var(--light-theme-background-color);
	}
	body::before {
		background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
	}
	.content {
		border-color: var(--light-theme-color);
	}
	button {
		color: var(--light-theme-color);
		border: 1px double var(--light-theme-color);
	}
	button:hover {
		color: var(--dark-theme-color);
		background-color: var(--dark-theme-background-color);
		border: 1px double var(--dark-theme-color);
	}
	a {
		color: #3a3f3f;
	}
}

@media (max-width: 650px) {
	#passed_time {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		border-radius: 2px;
	}
}